(ns clj-wordpress.test-config)

(def config {:host "http://localhost/wordpress"
             :blog-id 0
             :username "YOURUSERHERE"
             :password "YOURPASSWORDHERE"
             })
